* {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*  Dark Mode  */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
.dark-mode .tag {
    background-color: #00000045 !important;
    color: #ffffff !important;
}

.container {
    width: min-content;
    position: relative;
    right: 30px;
}

.container i {
    color: yellow;
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* responsive section*/
nav.responsive {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 1.3em;
}

/*  Header */
.contenido-header {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #0f0f0f;
    height: 7em;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

@media only screen and (min-width: 768px) {
    .container {
        right: 12em;
        margin-top: 1em;
    }

    .contenido-header {
        display: flex;
        justify-content: space-between;
        max-width: 100vw;
        height: 60px;
    }    
}

@media only screen and (min-width: 1200px) {
    /*  Header  */
    .container {
        bottom: 0.2em;
        right: 7em;
    }

    button {
        font-size: 1.5em;
    }

    .contenido-header {
        display: flex;
        justify-content: space-between;
        max-width: 100vw;
        height: 70px;
    }   
}